<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="success">
      <ion-title size="large">My pickup calls</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-pickup-call-card
    [hasHeader]="false"
    [hasFooter]="false"
    [status]="'On hold'"
    [updateAt]="'21/08/2023 12:21:00'"
    [createdAt]="'20/08/2023 12:00:00'"
    [note]="'we have two bags that are full. one with plastic and  the other with glass'"
  ></app-pickup-call-card>

  <app-pickup-call-card
    [hasHeader]="false"
    [hasFooter]="false"
    [status]="'Processing'"
    [updateAt]="'21/08/2023 12:21:00'"
    [createdAt]="'20/08/2023 12:00:00'"
    [note]="'we have two bags that are full. one with plastic and  the other with glass'"
  ></app-pickup-call-card>

  <app-pickup-call-card
    [hasHeader]="false"
    [hasFooter]="false"
    [status]="'Finished'"
    [updateAt]="'21/08/2023 12:21:00'"
    [createdAt]="'20/08/2023 12:00:00'"
    [value]="'$ 15,00'"
  ></app-pickup-call-card>

</ion-content>
